<phpunit
	bootstrap="run.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./ec-tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="WP_VER" value="4.7"/>
		<env name="PLUGIN" value="the-events-calendar"/>
		<env name="PLUGIN_VER" value="4.4.4"/>
	</php>
</phpunit>
