.aj {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding-bottom: 0;
		clear: none;
	}
	& h4&__data-title {
		margin: 0;
	}
	&__no-events {
		font-weight: bold;
		text-align: center;
		margin: 25px 0;
		padding: 0 15px;
		font-size: 16px;
		color: #aaa;
	}
	&__title {
		margin-bottom: 15px !important;
	}
}

.aj, .aj * {
	box-sizing: border-box;
}
// .aj {
// 	overflow: hidden;
// }
.text-center {
	text-align: center;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
}