.aj h1,
.aj h2,
.aj h3,
.aj h4,
.aj h5,
.aj h6 {
  margin: 0;
  padding-bottom: 0;
  clear: none;
}
.aj h4.aj__data-title {
  margin: 0;
}
.aj__no-events {
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
  padding: 0 15px;
  font-size: 16px;
  color: #aaa;
}
.aj__title {
  margin-bottom: 15px !important;
}
.aj,
.aj * {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.aj__price {
  padding: 0.05em 0.7em;
  border-radius: 25px;
  background: #414141;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
}
.aj__address a:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url(../img/ext-link.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  margin-left: 5px;
  vertical-align: middle;
}
.aj-table {
  display: flex;
  -webkit-flex: 1 0 auto;
  flex-direction: column;
  margin: 1em auto;
  max-width: 100%;
  border: 1px solid #eee;
  width: 100%;
}
.aj-table__title {
  margin-bottom: 5px;
  margin-top: 0;
  word-wrap: break-word;
  word-break: break-all;
}
.aj-table__desc {
  margin-top: 5px;
  margin-bottom: 5px;
}
.aj-table__info {
  display: flex;
  -webkit-flex: 1 0 auto;
  align-items: flex-start;
  flex: 1 0 auto;
  overflow: hidden;
  padding: 1.2em 1.2em;
}
.aj-table__info:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}
.aj-table__info > div {
  text-align: left;
}
.aj-table--header {
  font-weight: bold;
  padding: .8em 1.2em;
}
.aj-table__name {
  flex-basis: 50%;
}
.aj-table__address {
  flex-basis: 30%;
}
.aj-table__date {
  flex-basis: 20%;
}
.aj-table__date strong {
  display: block;
  margin-bottom: 5px;
}
.aj-table__address a:after {
  content: '';
}
.aj-table__price {
  float: right;
  margin: 0 2em 0 1.2em;
}
.aj-table__price strong.aj__data-price {
  color: #fff;
}
.aj-table__navi {
  margin-top: 25px;
}
.aj-table__navi:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (min-width: 768px) {
  .aj-table__name,
  .aj-table__address {
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .aj-table--header {
    display: none;
  }
  .aj-table__title {
    margin-top: 12px;
  }
  .aj-table__info {
    align-items: stretch;
    flex-direction: column;
  }
  .aj-table__info > div {
    padding: .3em;
    text-align: left;
  }
  .aj-table__info > div:before {
    color: gray;
    display: inline-block;
    min-width: 25%;
  }
  .aj-table__address {
    display: flex;
    -webkit-flex: 1 0 auto;
  }
  .aj-table__address a {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  .aj-table__price {
    margin: -5px 0 0 1.2em;
  }
  .aj-table__name:before,
  .aj-table__address:before,
  .aj-table__date:before {
    content: attr(data-display);
  }
  .aj-table__date-wrap {
    display: flex;
    -webkit-flex: 1 0 auto;
    white-space: normal;
    width: 75%;
    float: right;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .aj-table__info div:before {
    min-width: 38%;
  }
  .aj-table__date-wrap {
    width: 62%;
  }
}
.aj-table--alternate .aj-table__info:nth-child(odd):not(:first-child) {
  background-color: #f5f5f5;
}
.aj-table--basic {
  border: 0;
}
.aj-table--basic .aj-table__info {
  border-bottom: 1px solid #d8d8d8;
}
.aj-table--basic .aj-table--header {
  background: #f6f6f6;
  border-bottom: 4px double #d8d8d8;
}
.aj-table--shadow {
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: .8em 1.2em;
}
.aj-table--shadow .aj-table__info {
  padding-left: 0;
  padding-right: 0;
}
.aj-table--shadow .aj-table--header {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(65, 65, 65, 0.6);
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.aj-table--shadow .aj-table--header > div {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.aj-table--shadow .aj-table--header > div:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 4px;
  background: #414141;
}
.aj-table--alternate.aj-table--shadow .aj-table__info {
  margin: 0 -1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.sidebar .aj-table {
  display: block;
}
.sidebar .aj-table__info {
  display: block;
}
.sidebar .aj-table__info > div {
  padding: .3em;
  text-align: left;
}
.sidebar .aj-table__info > div:before {
  color: gray;
  display: inline-block;
  min-width: 25%;
}
.sidebar .aj-table--header {
  display: none;
}
.sidebar .aj-table__title {
  margin-top: 12px;
}
.sidebar .aj-table__name:before,
.sidebar .aj-table__address:before,
.sidebar .aj-table__date:before {
  content: attr(data-display);
}
.sidebar .aj-table__date-wrap {
  display: flex;
  -webkit-flex: 1 0 auto;
  white-space: normal;
  width: 75%;
  float: right;
  flex-direction: column;
}
.sidebar .aj-table__price {
  margin-right: 0;
}
.aj-grid {
  margin: 0 -15px;
  display: flex;
}
.aj-grid:after {
  content: '';
  display: table;
  clear: both;
}
.aj-grid__single {
  padding: 0 15px;
  float: left;
  margin-bottom: 15px;
  width: calc(33.33333333%);
}
.aj-grid__top {
  position: relative;
}
.aj-grid__image {
  display: block;
  font-size: 0;
}
.aj-grid__image img {
  width: 100%;
}
.aj-grid__datein,
.aj-grid__time {
  display: block;
}
.aj-grid__datein {
  font-weight: bold;
}
.aj-grid .aj-grid__address img {
  display: inline-block;
  margin-right: 6px;
}
.aj-grid__price {
  float: right;
}
.aj-grid__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 991px) {
  .aj-grid__single {
    width: 50% !important;
  }
}
@media screen and (max-width: 767px) {
  .aj-grid {
    flex-direction: column;
  }
  .aj-grid__single {
    width: 100% !important;
  }
}
.aj-grid--basic .aj-grid__date {
  position: absolute;
  top: 15px;
  left: -15px;
}
.aj-grid--basic .aj-grid__price,
.aj-grid--bigdate .aj-grid__price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 1.4em;
}
.aj-grid--basic .aj-grid__content {
  padding: 15px;
}
.aj-grid--basic .aj-grid__title,
.aj-grid--bigdate .aj-grid__title,
.aj-grid--overlay .aj-grid__title {
  margin: 0;
  margin-bottom: 8px;
}
.aj-grid--basic .aj-grid__desc,
.aj-grid--bigdate .aj-grid__desc,
.aj-grid--overlay .aj-grid__desc {
  font-size: 0.9em;
  line-height: 1.5;
  opacity: 0.6;
  margin-top: 1.2em;
}
.aj-grid--basic .aj-grid__datein {
  font-size: 1.1em;
  margin-bottom: 3px;
}
.aj-grid--basic .aj-grid__time {
  font-size: 0.9em;
}
.aj-grid--basic .aj-grid__date {
  background: #fff;
  padding: 15px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
}
.aj-grid--bigdate .aj-grid__content {
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.aj-grid--bigdate .aj-grid__date {
  border-radius: 3px;
  background: #414141;
  color: #fff;
  padding: 10px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 0.9em;
  text-align: center;
  width: 145px;
}
.aj-grid--bigdate .aj-grid__datein {
  font-weight: normal;
}
.aj-grid--bigdate .aj-grid__day {
  font-size: 1.8em;
  display: block;
  font-weight: bold;
}
.aj-grid--bigdate .aj-grid__datein > span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  line-height: 1.15;
  margin-bottom: 7px;
}
.aj-grid--bigdate .aj-grid__time {
  font-size: 0.85em;
  opacity: 0.7;
}
.aj-grid--overlay .aj-grid__content {
  padding: 25px 45px;
  margin-top: -75px;
  position: relative;
  z-index: 1;
}
.aj-grid--overlay .aj-grid__desc {
  padding: 25px;
  margin: 0 -45px;
}
.aj-grid--overlay .aj-grid__image {
  overflow: hidden;
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}
.aj-grid--overlay .aj-grid__image img {
  display: none;
}
.aj-grid--overlay .aj-grid__image:after {
  content: '';
  position: absolute;
  bottom: -5px;
  top: auto;
  left: 25px;
  right: 25px;
  height: 125px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.aj-grid--overlay .aj-grid__date {
  position: absolute;
  bottom: 75px;
  left: 45px;
}
.aj-grid--overlay.aj--hastime .aj-grid__date {
  bottom: 65px;
}
.aj-grid--overlay .aj-grid__time {
  font-size: 0.9em;
}
.aj-grid--overlay .aj-grid__price {
  position: absolute;
  bottom: 68px;
  font-size: 1.1em;
  right: 45px;
}
.sidebar .aj-grid__single {
  width: 100%;
  float: none;
}
.aj-list__inner:after {
  content: '';
  display: table;
  clear: both;
}
.aj-list__single {
  margin-bottom: 15px;
}
.aj-list__inner {
  position: relative;
  display: flex;
  flex-direction: row;
}
.aj-list__top {
  position: relative;
  width: 25%;
}
.aj-list__image {
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.aj-list__image img {
  width: 100%;
  display: none;
  margin-bottom: 0;
}
.aj-list .aj-list__image img {
  display: none;
}
.aj-list__datein,
.aj-list__time {
  display: block;
}
.aj-list__datein {
  font-weight: bold;
}
.aj-list .aj-list__address img {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 0;
}
.aj-list__price {
  float: right;
}
.aj-list__price strong {
  color: #fff !important;
}
.aj-list__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px !important;
}
.aj-list__content {
  width: 75%;
  padding: 15px 25px;
  border: 1px solid #eee;
  min-height: 135px;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .aj-list__top {
    width: 35%;
  }
  .aj-list__content {
    width: 65%;
  }
}
@media screen and (max-width: 767px) {
  .aj-list__top,
  .aj-list__content {
    width: 100%;
  }
  .aj-list__inner {
    flex-direction: column;
  }
  .aj-list__image {
    position: relative;
  }
  .aj-list .aj-list__image img {
    display: block;
  }
}
.aj-list--basic .aj-list__date {
  position: absolute;
  top: 15px;
  left: -15px;
}
.aj-list--basic .aj-list__price,
.aj-list--bigdate .aj-list__price {
  font-size: 1.2em;
  margin-top: -68px;
}
.aj-list--basic .aj-list__title,
.aj-list--bigdate .aj-list__title,
.aj-list--overlay .aj-list__title,
.aj-list--complete .aj-list__title {
  margin: 0;
  margin-bottom: 8px;
}
.aj-list--basic .aj-list__desc,
.aj-list--bigdate .aj-list__desc,
.aj-list--overlay .aj-list__desc,
.aj-list--complete .aj-list__desc {
  font-size: 0.9em;
  line-height: 1.5;
  margin-top: 1.2em;
  margin-bottom: 0;
}
.aj-list--basic .aj-list__datein {
  font-size: 1.1em;
  margin-bottom: 3px;
}
.aj-list--basic .aj-list__time {
  font-size: 0.9em;
}
.aj-list--basic .aj-list__date {
  background: #fff;
  padding: 15px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .aj-list--basic .aj-list__date {
    left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .aj-list--basic .aj-list__title,
  .aj-list--bigdate .aj-list__title,
  .aj-list--overlay .aj-list__title {
    padding-right: 64px;
  }
  .aj-list--basic .aj-list__price,
  .aj-list--bigdate .aj-list__price {
    position: absolute;
    right: 15px;
    top: 15px;
    margin-top: 0;
  }
}
.aj-list--bigdate .aj-list__content,
.aj-list--complete .aj-list__content {
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.aj-list--bigdate .aj-list__date,
.aj-list--complete .aj-list__date {
  border-radius: 3px;
  background: #414141;
  color: #fff;
  padding: 10px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 15px;
  left: -15px;
  font-size: 0.9em;
  text-align: center;
  width: 145px;
}
.aj-list--bigdate .aj-list__datein,
.aj-list--complete .aj-list__datein {
  font-weight: normal;
}
.aj-list--bigdate .aj-list__day,
.aj-list--complete .aj-list__day {
  font-size: 1.8em;
  display: block;
  font-weight: bold;
}
.aj-list--bigdate .aj-list__datein > span,
.aj-list--complete .aj-list__datein > span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  line-height: 1.15;
  margin-bottom: 7px;
}
.aj-list--bigdate .aj-list__time,
.aj-list--complete .aj-list__time {
  font-size: 0.85em;
  opacity: 0.7;
}
@media screen and (max-width: 1199px) {
  .aj-list--bigdate .aj-list__date,
  .aj-list--complete .aj-list__date {
    left: 15px;
    top: 15px;
    bottom: auto;
  }
}
.aj-list--overlay .aj-list__inner {
  align-items: center;
}
.aj-list--overlay .aj-list__top {
  margin-right: -25px;
  width: 27%;
}
.aj-list--overlay .aj-list__image {
  position: relative;
  height: 200px;
}
.aj-list--overlay .aj-list__content {
  width: 77%;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 160px;
  z-index: 5;
}
.aj-list--overlay .aj-list__date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.aj-list--overlay .aj-list__date > span {
  width: 50%;
}
.aj-list--overlay .aj-list__time {
  font-size: 0.9em;
  text-align: right;
}
.aj-list--overlay .aj-list__price {
  position: absolute;
  bottom: 25px;
  font-size: 1.3em;
  right: 77%;
}
@media screen and (max-width: 991px) {
  .aj-list--overlay .aj-list__price {
    right: 70%;
  }
  .aj-list--overlay .aj-list__top {
    width: 38%;
  }
}
@media screen and (max-width: 767px) {
  .aj-list--overlay .aj-list__price {
    right: 15px;
    bottom: auto;
    top: 146px;
  }
  .aj-list--overlay .aj-list__top {
    margin-right: 0;
    width: 100%;
  }
  .aj-list--overlay .aj-list__content {
    width: 100%;
  }
  .aj-list--overlay .aj-list__image img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .aj-list--complete .aj-list__inner {
    display: block;
    position: relative;
  }
  .aj-list--complete .aj-list__top,
  .aj-list--complete .aj-list__content {
    width: 100%;
  }
  .aj-list--complete .aj-list__top {
    position: static;
  }
  .aj-list--complete .aj-list__title a,
  .aj-list--complete .aj-list__desc,
  .aj-list--complete .aj-list__address a {
    color: #fff;
  }
  .aj-list--complete .aj-list__content {
    position: relative;
    z-index: 1;
    color: #fff;
    background: transparent;
    box-shadow: none;
    padding-left: 35%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.47+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#78000000', GradientType=1);
    /* IE6-9 */
  }
  .aj-list--complete .aj-list__date {
    left: 0;
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 140px;
  }
}
.sidebar .aj-list__top,
.sidebar .aj-list__content {
  width: 100%;
}
.sidebar .aj-list__inner {
  flex-direction: column;
}
.sidebar .aj-list--bigdate .aj-list__date,
.sidebar .aj-list--complete .aj-list__date {
  left: 15px;
  top: 15px;
  bottom: auto;
}
.sidebar .aj-list--overlay .aj-list__content {
  margin-left: 0;
}
.sidebar .aj-list--overlay .aj-list__price {
  right: 15px;
  bottom: auto;
  top: 150px;
}
.sidebar .aj-list--complete .aj-list__content {
  padding-left: 15px;
  padding-top: 150px;
}
@media screen and (max-width: 767px) {
  .sidebar .aj-list--complete .aj-list__content {
    padding-left: 15px;
    padding-top: 15px;
  }
}
.aj__link {
  font-size: 1.1em;
}
.aj__button {
  float: right;
  background: #414141;
  color: #fff;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
}
.aj__link {
  display: inline-block;
  padding: 8px 0;
}
.aj__navi:after {
  content: '';
  display: table;
  clear: both;
}
