body {
  font-family: sans-serif;
  font-size: 14px;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.aj-table,
.aj-table * {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.aj-table {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  max-width: 100%;
  border: 1px solid #eee;
  width: 100%;
}
.aj-table__title {
  margin-bottom: 5px;
  margin-top: 0;
}
.aj-table__desc {
  margin-top: 5px;
  margin-bottom: 5px;
}
.aj-table__info {
  display: flex;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
  padding: 1.2em 1.2em;
}
.aj-table__info:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}
.aj-table__info > div {
  text-align: left;
}
.aj-table--header {
  font-size: 0.9em;
  font-weight: bold;
  padding: .8em 1.2em;
}
.aj-table__name,
.aj-table__address {
  flex-basis: 40%;
}
.aj-table__date {
  flex-basis: 20%;
}
.aj-table__date strong {
  display: block;
  margin-bottom: 5px;
}
.aj-table__address a:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url(../img/ext-link.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  margin-left: 5px;
  vertical-align: middle;
}
.aj-table__price {
  padding: 0.25em 0.7em;
  border-radius: 25px;
  background: #414141;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  float: right;
  margin: 0 1.2em;
}
.aj-table__navi {
  margin-top: 25px;
}
.aj-table__navi:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (max-width: 650px) {
  .aj-table--header {
    display: none;
  }
  .aj-table__title {
    margin-top: 12px;
  }
  .aj-table__info {
    align-items: stretch;
    flex-direction: column;
  }
  .aj-table__info > div {
    padding: .3em;
    text-align: left;
  }
  .aj-table__info > div:before {
    color: gray;
    display: inline-block;
    min-width: 25%;
  }
  .aj-table__address {
    display: flex;
  }
  .aj-table__name:before,
  .aj-table__address:before,
  .aj-table__date:before {
    content: attr(data-display);
  }
  .aj-table__date-wrap {
    display: flex;
    white-space: normal;
    width: 75%;
    float: right;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .aj-table__info div:before {
    min-width: 38%;
  }
  .aj-table__date-wrap {
    width: 62%;
  }
}
.aj-table--alternate .aj-table__info:nth-child(odd):not(:first-child) {
  background-color: #f5f5f5;
}
.aj-table--basic {
  border: 0;
}
.aj-table--basic .aj-table__info {
  border-bottom: 1px solid #d8d8d8;
}
.aj-table--basic .aj-table--header {
  background: #f6f6f6;
  border-bottom: 4px double #d8d8d8;
  font-size: 0.9em;
}
.aj-table--shadow {
  border: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: .8em 1.2em;
}
.aj-table--shadow .aj-table__info {
  padding-left: 0;
  padding-right: 0;
}
.aj-table--shadow .aj-table--header {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(65, 65, 65, 0.6);
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.aj-table--shadow .aj-table--header > div {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.aj-table--shadow .aj-table--header > div:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 4px;
  background: #414141;
}
.aj-table--alternate.aj-table--shadow .aj-table__info {
  margin: 0 -1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.aj__link {
  font-size: 1.1em;
}
.aj__button {
  float: right;
  background: #414141;
  color: #fff;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
}
